.color{
    color: rgb(100, 100, 100);
}

h1{
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    color: tomato;
    font-weight: bold;
}

.dipjol{
    display: flex;
    margin: 100px;
    padding: 100px 150px;
    box-shadow: 10px 15px 25px black;
}

.half{
    width: 50%;
    
}

.half img{
    width: 80%;
}

.one-third{
    width: 33.33%;
        padding-left: 30px;
    padding-right: 20px;
    
}

.text-size{
    font-size: 30px;
}
#one-third-1{
   width: 33.33%;
    padding-left: 30px;
    margin-left: 30px;
       padding-right: 20px;
    border-left: solid tomato;
    box-shadow: 10px 15px 25px black;
}

.dipjol-3{
    display: flex;
    margin: 100px;
    padding: 100px 150px;
        background-image: url("top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}



